<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <p>Привет из представления!</p>

    <div>
        @Html.ActionLink("Список сотрудников", "Employees", new { })
        <a asp-action="Index">Урок 1. Введение в ASP.NET Core: Задание 1</a>
    </div>
    <div>
        @Html.ActionLink("Список автомобилей", "EmployeesCars", new { })
        <a asp-action="Index">Урок 1. Введение в ASP.NET Core: Задание 2</a>
    </div>
</body>
</html>